@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videolist {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 1rem;
  align-items: center;

  &__left {
    width: 20%;
    width: 6rem;
  }
  &__image {
    height: 4rem;
    width: 6rem;
    border-radius: 5px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  &__title {
    margin: 0;
  }
  &__name {
    margin: 0;
  }
}
