@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videolist {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  align-items: center;
  @include desktop {
    border-left: 0.16rem solid $secondary-color-mercury;
    padding-right: 5rem;
    padding-bottom: 1rem;
  }
  &__header {
    font-size: 0.9rem;
    color: $primary-color-gray;
    font-weight: 500;
    border-top: 0.16rem solid $secondary-color-mercury;
    padding-top: 1rem;
    padding-left: 1rem;
    height: 3rem;
    text-transform: uppercase;
    @include desktop {
      border-left: 0.16rem solid $secondary-color-mercury;
    }
  }
  &__left {
    width: 7rem;
    height: 4.5rem;
    object-fit: contain; /* Scale the image to fit without stretching */
    object-position: center;
  }
  &__image {
    height: 4.5rem;
    width: 7rem;
    border-radius: 5px;
    overflow: hidden;
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 4.5rem;
    overflow: hidden; /* Hide any overflow of the text */
    text-overflow: ellipsis;
    width: 60%;
    @include tablet {
      width: 30%;
    }
    @include desktop {
      width: 50%;
      gap: 0.5rem;
    }
  }
  &__title {
    margin: 0;
    font-weight: 500;
    text-overflow: ellipsis;
    font-size: 0.9rem;
  }
  &__name {
    margin: 0;
    font-weight: 500 lighter;
    font-size: 0.8rem;
  }
}
.extra {
  @include desktop {
    height: 5rem;
    color: white;
    border-left: 0.16rem solid $secondary-color-mercury;
  }
}
