@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  background-color: black;
  display: flex;
  @include tablet {
    display: flex;
    justify-content: center;
  }
  &__image {
    height: 100%;
    width: 100%;
    margin-top: 0;
    @include tablet {
      width: 90%;
      aspect-ratio: 16/9;
    }
    @include desktop {
      width: 70%;
    }
  }
}
