@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  box-sizing: border-box;
}

.description {
  padding: 1.5rem;

  &__title {
    font-weight: 600;
  }
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
