@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

* {
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro";
  margin: 0;
  padding: 0;
}

.desktop {
  @include desktop {
    display: flex;
  }
  &__left {
    @include desktop {
      width: 70%;
      border-right: 1px solid $secondary-color-mercury;
    }
  }
  &__right {
    @include desktop {
      width: 30%;
    }
  }
}
